#botscrew-tabs{
  display: flex;
  flex-direction: column-reverse;

  .tab-content{
    height: 350px;
    .fade{ opacity: 1; } // temp fix, collision between bootstrap and react-bootstrap
  }

  ul {
    display: flex;
    justify-content: space-between;

    border-bottom: none;

    li{
      opacity: 0.5;

      &.active{ opacity: 1; }
      .tab-wrapper{
        text-align: center;

        .circle{
          width: 60px;
          height: 60px;

          border-radius: 100px;
          background: #fff;

          img{
            max-width: 100%;
            height: 100%;
          }
        }
        span {
          color: #fff;
        }
      }
    }
  }
}


